<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="name">Survey Title</label>
                <input type="text" class="form-control" id="name"
                placeholder="Title" name="name" value="<%= surveys.name %>" required>
              </div>
              <br>

              <% for(let count = 0; count < surveys.questions.length; count++) { %>
                <div class="form-group">
                    <label> Question <%= count + 1%> </label>
                    <input type="text" class="form-control" placeholder= "Question <%= count + 1%>" name="questionsTitles" value="<%= surveys.questions[count].title %>"
                    required>
                <br>
                <label for="optionType">Selection Type:</label>
                <label for="optionType">Radio</label>
                <input type="radio" class="form-check-input" placeholder= "" name="optionType" value="<%= surveys.questions[count].optionType %>" required>
                <label for="optionType">Checkbox</label>
                <input type="radio" class="form-check-input" placeholder= "" name="optionType" value="<%= surveys.questions[count].optionType %>" required>
                <br><br>
              </div>
              <% } %>
              
              <br><br>
              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>
