<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Survey Name</label>
                <input type="text" class="form-control" id="name"
                placeholder="Survey's Name" name="number" value="<%= surveys.name %>" required>
              </div>
              <br>
              <div class="form-group">
                <label for="QuestionTextField">Question 1</label>
                <input type="text" class="form-control" id="QuestionTextField"
                placeholder="What is the first question you want to ask?" name="questionsTitle" value="<%= surveys.questionsTitle %>"  required>
                <label for="QuestionOptionType">Radio</label>
                <input type="radio" id="QuestionOptionType" name="questionsOptionType" value="<%= surveys.questionsOptionType %>" required>
              
              </div>
              

              <br><br>
              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>
