<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Survey Title</label>
                <input type="text" class="form-control" id="name"
                placeholder="Title" name="name" value="<%= surveys.name %>" required>
              </div>
              <br>
              <div class="form-group">
                <label for="questions_title">Question 1</label>
                <input type="text" class="form-control" id="questions_title"
                placeholder="What is your survey question?" name="questions_title" value="<%= surveys.questions_title %>"  required>
                <br>
                <label for="optionType">Selection Type:</label>
                <label for="optionType">Radio</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <label for="QuestionOptionType">Checkbox</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <br><br>
                <label for="options1">Option 1: </label>
                <input type="text" class="form-control" id="options1"
                placeholder="Add option" name="options1" value="<%= surveys.options1 %>">
                <label for="options2">Option 2: </label>
                <input type="text" class="form-control" id="options2"
                placeholder="Add option" name="options2" value="<%= surveys.options2 %>">
                <label for="options3">Option 3: </label>
                <input type="text" class="form-control" id="options3"
                placeholder="Add option, if any" name="options3" value="<%= surveys.options3 %>">
                <label for="options4">Option 4: </label>
                <input type="text" class="form-control" id="options4"
                placeholder="Add option, if any" name="options4" value="<%= surveys.options4 %>">
              </div>
              <br><br>
              <div class="form-group">
                <label for="title">Question 2</label>
                <input type="text" class="form-control" id="title"
                placeholder="What is your survey question?" name="title" value="<%= surveys.title %>">
                <br>
                <label for="optionType">Selection Type:</label>
                <label for="optionType">Radio</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <label for="QuestionOptionType">Checkbox</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <br><br>
                <label for="options1">Option 1: </label>
                <input type="text" class="form-control" id="options1"
                placeholder="Add option" name="options1" value="<%= surveys.options1 %>">
                <label for="options2">Option 2: </label>
                <input type="text" class="form-control" id="QuestionOptionField2"
                placeholder="Add option" name="options2" value="<%= surveys.options2 %>">
                <label for="options3">Option 3: </label>
                <input type="text" class="form-control" id="options3"
                placeholder="Add option, if any" name="options3" value="<%= surveys.options3 %>">
                <label for="options4">Option 4: </label>
                <input type="text" class="form-control" id="options4"
                placeholder="Add option, if any" name="options4" value="<%= surveys.options4 %>">
              </div>
              <br><br>
              <div class="form-group">
                <label for="title">Question 3</label>
                <input type="text" class="form-control" id="title"
                placeholder="What is your survey question?" name="title" value="<%= surveys.title %>">
                <br>
                <label for="optionType">Selection Type:</label>
                <label for="optionType">Radio</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <label for="QuestionOptionType">Checkbox</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <br><br>
                <label for="options1">Option 1: </label>
                <input type="text" class="form-control" id="options1"
                placeholder="Add option" name="questionOptions1" value="<%= surveys.options1 %>">
                <label for="options2">Option 2: </label>
                <input type="text" class="form-control" id="options2"
                placeholder="Add option" name="options2" value="<%= surveys.options2 %>">
                <label for="options3">Option 3: </label>
                <input type="text" class="form-control" id="options3"
                placeholder="Add option, if any" name="options3" value="<%= surveys.options3 %>">
                <label for="options4">Option 4: </label>
                <input type="text" class="form-control" id="options4"
                placeholder="Add option, if any" name="options4" value="<%= surveys.options4 %>">
              </div>
              <br><br>
              <div class="form-group">
                <label for="title">Question 4</label>
                <input type="text" class="form-control" id="title"
                placeholder="What is your survey question?" name="title" value="<%= surveys.title %>">
                <br>
                <label for="optionType">Selection Type:</label>
                <label for="optionType">Radio</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <label for="optionType">Checkbox</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <br><br>
                <label for="options1">Option 1: </label>
                <input type="text" class="form-control" id="options1"
                placeholder="Add option" name="questionOptions1" value="<%= surveys.options1 %>">
                <label for="options2">Option 2: </label>
                <input type="text" class="form-control" id="options2"
                placeholder="Add option" name="options2" value="<%= surveys.options2 %>">
                <label for="options3">Option 3: </label>
                <input type="text" class="form-control" id="options3"
                placeholder="Add option, if any" name="options3" value="<%= surveys.options3 %>">
                <label for="options4">Option 4: </label>
                <input type="text" class="form-control" id="options4"
                placeholder="Add option, if any" name="options4" value="<%= surveys.options4 %>">
              </div>
              <br><br>
              <div class="form-group">
                <label for="title">Question 5</label>
                <input type="text" class="form-control" id="title"
                placeholder="What is your survey question?" name="title" value="<%= surveys.title %>">
                <br>
                <label for="optionType">Selection Type:</label>
                <label for="optionType">Radio</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <label for="QuestionOptionType">Checkbox</label>
                <input type="radio" class="form-check-input" id="optionType" name="optionType" value="<%= surveys.optionType %>" required>
                <br><br>
                <label for="options1">Option 1: </label>
                <input type="text" class="form-control" id="options1"
                placeholder="Add option" name="options1" value="<%= surveys.options1 %>">
                <label for="options2">Option 2: </label>
                <input type="text" class="form-control" id="options2"
                placeholder="Add option" name="options2" value="<%= surveys.options2 %>">
                <label for="options3">Option 3: </label>
                <input type="text" class="form-control" id="options3"
                placeholder="Add option, if any" name="options3" value="<%= surveys.options3 %>">
                <label for="options4">Option 4: </label>
                <input type="text" class="form-control" id="options4"
                placeholder="Add option, if any" name="options4" value="<%= surveys.options4 %>">
              </div>
              <br><br>
              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>
